.sectionRoot {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 3rem;

  .contentContainer {
    position: relative;
    z-index: 2;
  }

  .textBlock {
    width: fit-content;

    .sectionTitle {
      font-family: var(--font-acherus), Arial, Helvetica, sans-serif;
      color: white;
      font-size: clamp(2rem, 5vw, 3.5rem);
      padding: 2rem;
      border-radius: 2rem;
      width: fit-content;
      background: radial-gradient(circle at 0% 0%, #000000 0%, #284686 100%);
    }

    .paragraphsWrapper {
      width: 0;
      min-width: 100%;

      .paragraph {
        font-size: clamp(1.1rem, 2vw, 1.3rem);
        line-height: 1.5;
        color: white;
        padding: 0 2rem;

        span {
          color: var(--elite-tech-talent-red);
          font-weight: bold;
          font-size: inherit;
        }
      }
    }
  }

  .flowerSectionWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 24rem;
    scale: 1.02;

    transition: transform 0.4s ease;
    overflow: hidden; // Important: Prevent overflow of the shimmer effect

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -150%; // Start from outside the left side
      width: 100%;
      height: 100%;
      //Color of the light beam
      background: linear-gradient(
        to right,
        transparent 0%,
        rgba(255, 255, 255, 0.2) 50%,
        transparent 100%
      );
      transform: skewX(-25deg); // Make the light beam slanted for a better look
      z-index: 2;
    }

    &:hover {
      transform: scale(1.08); // Slightly scale up compared to the original 1.05

      &::after {
        // Activate shimmer animation on hover
        animation: shimmer 0.8s ease-in-out;
      }
    }

    .flowerSectionImage {
      object-fit: contain;
    }
  }

  // Define shimmer animation
  @keyframes shimmer {
    100% {
      left: 150%; // Move all the way to the right
    }
  }
}
