.introContentRoot {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  .overlayBackground {
    position: absolute;
    inset: 0;
    filter: brightness(0.8);
    z-index: 1;

    .backgroundImage {
      object-fit: cover;
      object-position: center;
    }
  }

  .textContent {
    position: relative;
    z-index: 2;
    height: 100%;
    padding-top: 2rem;

    p {
      color: black;
      font-size: 1.8rem;
      line-height: 1.5;

      @media (max-width: 767px) {
        display: none;
      }

      &.firstParagraph span {
        font-family: var(--font-acherus), Arial, Helvetica, sans-serif;
        color: var(--elite-tech-talent-blue);
        font-weight: bold;
        font-size: 2rem;
      }

      &.secondParagraph span {
        color: var(--elite-tech-talent-red);
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}