.introContentRoot {
  position: relative;
  width: 100%;
  height: 960px;
  overflow: hidden;

  .backgroundStack {
    position: absolute;
    inset: 0; // cover the container
    z-index: 1;

    .baseBackground {
      position: absolute;
      inset: 0;
    }

    .overlayBackground {
      position: absolute;
      top: 25%; // leave 1/4 of the top
      left: 0;
      width: 100%;
      height: 75%;
      filter: brightness(0.8);
    }

    .backgroundImage {
      object-fit: cover;
      object-position: center;
    }
  }

  .textContentTop {
    position: relative;
    z-index: 2;
    height: 25%;

    .mainTitle {
      color: var(--elite-tech-talent-blue);
      font-size: clamp(2rem, 5vw, 3rem);
    }

    h2:last-child {
      color: #ffffff;
      font-size: clamp(2rem, 5vw, 3rem);
    }
  }

  .textContentBottom {
    position: relative;
    z-index: 2;
    height: 75%;

    p {
      color: black;
      font-size: 1.8rem;
      line-height: 1.5;

      @media (max-width: 767px) {
        display: none;
      }

      &.firstParagraph span {
        color: var(--elite-tech-talent-blue);
        font-weight: bold;
        font-size: 2rem;
      }

      &.secondParagraph span {
        color: var(--elite-tech-talent-red);
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}