.root {
  display: flex;
  align-items: center;
  justify-content: center;

  .circle {
    width: clamp(15rem, 5vw, 20rem);
    height: clamp(15rem, 5vw, 20rem);
    border-radius: 50%;
    background: radial-gradient(circle, #228be6 0%, #1864ab 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
    border: 4px solid rgba(255, 255, 255, 0.1);

    .circleText {
      font-size: clamp(2rem, 5vw, 2.5rem);
    }
  }

  .itemsWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;

    .itemRow {
      transition: transform 0.3s ease;

      &:nth-child(1),
      &:nth-child(5) {
        transform: translateX(0px);
      }

      &:nth-child(2),
      &:nth-child(4) {
        transform: translateX(35px);
      }

      &:nth-child(3) {
        transform: translateX(55px);
      }

      .capsule {
        background: linear-gradient(90deg, #1971c2 0%, #339af0 100%);
        color: white;
        padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 2vw, 2rem);
        border-radius: 2rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        .capsuleText {
          font-size: clamp(0.8rem, 2vw, 1.2rem);

          &>span {
            font-size: inherit;
            margin-right: 0.5rem;
          }
        }

        &:hover {
          filter: brightness(1.1);
          transform: scale(1.02);
        }
      }
    }
  }
}