.header {
  margin-bottom: 4rem;

  .logoWrapper {
    position: relative;
    width: 240px;
    aspect-ratio: 498 / 252;
  }

  .nav {
    .navItem {
      font-family: var(--font-acherus), Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }
  }
}