.pageTitle {
  font-family: var(--font-acherus), Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--vinaup-black);
  margin: 0;
}

.pageSubtitle {
  font-size: 1.1rem;
  color: var(--vinaup-medium-dark-gray);
  margin: 0;
}
