html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: normal;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --elite-tech-talent-blue: #00adee;
  --elite-tech-talent-red: #ff5e5d;
}