.heroRoot {
  position: relative;
  color: #ffffff;
  min-height: clamp(480px, 66vh, 640px);
  display: flex;

  .heroVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .heroOverlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .heroContainer {
    width: 100%;

    .heroBody {
      .heroTitle {
        font-size: clamp(3rem, 5vw + 1rem, 5rem);
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
      }

      .heroEyebrow {
        font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
        margin: 0;
        display: block;
      }
    }
  }

}